apiVersion: v1
kind: Service
metadata:
  name: myapp
  namespace: dev
  annotations:
    argocd.argoproj.io/health-status: Healthy
spec:
  selector:
    app: myapp
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer


